body{
    background-color: cornsilk
}
h2{
    text-align: center
}
img{
    width:"20";
    height:"20";
}
p{
    color: green;
    text-align: center    
}
.flex-content{
   display: flex;
   flex-flow: wrap;
   justify-content: center;
   background-color: brown;
}
.flex-content > div {
    background-color: blanchedalmond;
    margin: 30px;
    padding: 30px;
    font-size: 30px;
}
a{
    text-align: center
}